# root .editorconfig file : https://www.neputa-note.net/2020/10/vscode-editorconfig.html
root = true

[*]
end_of_line = lf
insert_final_newline = true

[CMakeLists.txt]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.f90]
indent_style = space
indent_size = 4
